﻿@model IEnumerable<Store.Data.Models.Product>
@if (Model.Count() == 0)
{
    <br>
    <div class="alert alert-danger">
        <strong>Productos!</strong> No hay registro de productos.
    </div>
}
else
{
    <table class="table table-striped table-bordered table-list tableListProblemInRight">
        <thead>
            <tr>
                <th width="5%" class="hidden-xs">Item</th>
                <th width="25%" style="vertical-align:middle">Nombre</th>
                <th width="55%" style="vertical-align:middle">Descripción</th>
                <th width="15%" style="text-align:center" title="Acciones"><em class="fa fa-cog"></em></th>
            </tr>
        </thead>
        <tbody>
            @{ var itemList = 0;}
            @foreach (var item in Model)
            {
                itemList += 1;
                <tr>
                    <td class="hidden-xs" style="text-align:center">@itemList</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td align="center">
                        @*@Html.ActionLink(" ", "Delete", new { id = item.DoingsInRightId }, new { @class = "btn btn-danger btn-xs fa fa-trash", title = "Eliminar hecho" })*@
                        @*<a class="btn btn-default"><em class="fa fa-pencil"></em></a>*@
                        <a class="btn btn-warning btn-xs" id="editProblem" onclick="editProduct(@item.Id)" title="Editar"><em class="fa fa-pencil"></em></a>
                        @if (item.Active == true)
                        {
                            <a class="deactivateItem btn btn-default btn-xs tt" data-target="#InactiveProduct" data-toggle="modal" data-id="@item.Id" data-name="@item.Name" title="Inactivar producto">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        }
                        else
                        {
                            <a class="activateItem btn btn-default btn-xs tt" data-target="#ActiveProduct" data-toggle="modal" data-id="@item.Id" data-name="@item.Name" title="Activar producto">
                                <i class="fa fa-check"></i>
                            </a>
                        }
                        
                        <a class="btn btn-danger btn-xs" id="delProblem" onclick="deleteProduct(@item.Id)" title="Eliminar"><em class="fa fa-trash"></em></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
                }
