﻿@model IEnumerable<Store.Data.Models.Product>

@{
    ViewBag.Title = "Index";
}


<div class="panel" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Productos</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <input type="button" value="Crear nuevo" class="btn btn-sm btn-primary" id="btnCreateProduct" />
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div id="ListProducts">
                                           
                    </div>
                    <div id="formProduct" class="collapse">
                        <br />
                        <form class="form-horizontal" role="form" enctype="multipart/form-data" id="formDocumentProduct">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="nameProduct" class="col-lg-2 control-label">Nombre</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="nameProduct" placeholder="Ingrese el nombre del producto" style="max-width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="descriptionProduct" class="col-lg-2 control-label">Descripción</label>
                                        <div class="col-lg-9">
                                            <input type="text" class="form-control" id="descriptionProduct" placeholder="Ingrese la descripción del producto" style="max-width:100%">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10 collapsed" id="buttonsProduct">
                                    <button type="button" class="btn btn-default" id="btnCancelProduct">Cancelar</button>
                                    <button type="button" class="btn btn-success" id="btnSaveProduct">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-update-product -->
<div id="modal-update-product" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="label-dialog-example" style="display: none;" data-backdrop="static">
    <div class="modal-dialog" role="document" style="width:60% !important">
        <div class="modal-content">

            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>*@
                <h4 class="modal-title text-center " id="label-dialog-example">Editar producto</h4>
            </div>
            <div class="modal-body">
                <p style="text-align:justify">
                    
                    <input type="hidden" id="productId" />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="nameProductEdit" class="col-lg-2 control-label">Nombre</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="nameProductEdit" placeholder="Ingrese el nombre del producto" style="max-width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="descriptionProductEdit" class="col-lg-2 control-label">Descripción</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" id="descriptionProductEdit" placeholder="Ingrese la descripción del producto" style="max-width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </p>                
                <div class="modal-footer text-left">
                    <button type="button" class="btnAccept btn btn-primary" id="btnUpdateProduct">Guardar</button>
                    <button type="button" class="btnAccept btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Active product -->
<div class="modal fade" id="ActiveProduct" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Activar producto</h4>
            </div>
            <div class="modal-body">
                Está seguro de activar el producto <span id="nameactivate"></span>?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">No</button>
                <button type="button" class="btnContinueActivate btn btn-success">Si activar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Confirm Inactivate -->
<div class="modal fade" id="InactiveProduct" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h4 class="modal-title">Inactivar producto</h4>
            </div>
            <div class="modal-body">
                Está seguro de Inactivar el producto <strong><span id="nameInactivate"></span></strong>?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">No</button>
                <button type="button" class="btnContinueInactivate btn btn-success">Si, Inactivar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @*document_Ready*@
    <script>
        $(document).ready(function () {
            var products = '@Url.Action("ListProducts", "Products")';
            //var products = '@Url.Action("Products", "api")';
            //console.log(products);
            $("#ListProducts").load(products);
        });
    </script>

    @*Cancel and Add -> Product*@
    <script>
        // Cancelar - Ocultar panel
        $('#btnCancelProduct').click(function () {
            $('#formProduct').slideUp('slow');
            $('#ListProducts').slideDown('slow');
            $('#btnCreateProduct').slideDown('slow');
            $('#btnCreateProduct').prop('disabled', false);
        });

        // Agregar Claim - Mostrar panel
        $('#btnCreateProduct').click(function () {
            $('#formProduct').slideDown('slow');
            $('#ListProducts').slideUp('slow');
            $('#btnCreateProduct').slideUp('slow');
            $('#btnCreateProduct').prop('disabled', true);
            $("#nameProduct").val('');
            $("#descriptionProduct").val('');
            $("#nameProduct").focus();
        });
    </script>

    @*btnSaveProduct*@
    <script>
        $('body').on("click", "#btnSaveProduct", function () {

            //alert("Ok Products");
            //return;
            var nameProduct = $("#nameProduct").val();
            if (nameProduct == '' || nameProduct.length < 3) {
                dataSend(null, "El nombre del producto no debe tener menos de 3 caracteres");
                $("#nameProduct").focus();
                return;
            }

            var descriptionProduct = $("#descriptionProduct").val();

            if (descriptionProduct == '' || descriptionProduct.length < 5) {
                dataSend(null, "La descripción del producto no debe tener menos de 5 caracteres");
                $("#descriptionProduct").focus();
                return;
            }

            $('#formProduct').slideUp('slow');
            $('#ListProducts').slideDown('slow');
            $('#btnCreateProduct').slideDown('slow');
            $('#btnCreateProduct').prop('disabled', false);

            var formData = new FormData();

            formData.append("nameProduct", nameProduct);
            formData.append("DescriptionProduct", descriptionProduct);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Products")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    var products = '@Url.Action("ListProducts", "Products")';
                    $("#ListProducts").load(products);

                    if (response.Ok == false) {
                        dataSend(null, response.Message);
                    } else {
                        dataSend(false, response.Message);
                    }
                    $("#ListProducts").slideDown('slow');
                    $("#formProduct").slideUp('slow');
                },
                error: function (response) {
                    console.log("ERROR: " + response.Message);
                }
            });
        });
    </script>

    @*deleteProduct*@
    <script>
        function deleteProduct(value) {
            var Id = value;
            var formData = new FormData();

            formData.append("Id", Id);
            
            $.ajax({
                type: "POST",
                url: '@Url.Action("Delete", "Products")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#ListProducts").slideUp('slow');
                    var Products = '@Url.Action("ListProducts", "Products")';
                    //alert(caseStudyDoings);
                    $("#ListProducts").load(Products);

                    dataSend(false, response.Message);
                    $("#ListProducts").slideDown('slow');
                },
                error: function (response) {
                    console.log("ERROR: " + response.Message);
                }
            });
        }
    </script>

    @*DataSend*@
    <script>
        function dataSend(isUpdateable, message) {
            //debugger;
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            if (isUpdateable == false) {
                toastr.success(message);
            } else if (isUpdateable == true) {
                toastr.success(message);
            } else if (isUpdateable == null) {
                toastr.error(message);
            }
        }
    </script>

    @*Modal Update Product*@
    <script>
        function editProduct(value) {
            $("#modal-update-product").modal('show');
            //alert(value);
            $("#productId").html(value);

            getById(value);

        }

        function getById(Id) {
            var url = "@Url.Action("Edit", "Products")";

            $.get(url, { id: Id }).done(function (data) {
                console.log(data);
                $("#nameProductEdit").val(data.Name);
                $("#descriptionProductEdit").val(data.Description);
            }).fail(manejarErrorAjax);
        }

        // Obtiene el mensaje de error en la consola.
        function manejarErrorAjax(err) {
            console.log(err.responseText);
        }

    </script>

    @*btnUpdateProduct*@
    <script>
        $('body').on("click", "#btnUpdateProduct", function () {
            
            var productId = $("#productId").html();
            
            var nameProduct = $("#nameProductEdit").val();
            if (nameProduct == '' || nameProduct.length < 3) {
                dataSend(null, "El nombre del producto no debe tener menos de 3 caracteres");
                $("#nameProduct").focus();
                return;
            }

            var descriptionProduct = $("#descriptionProductEdit").val();

            if (descriptionProduct == '' || descriptionProduct.length < 5) {
                dataSend(null, "La descripción del producto no debe tener menos de 5 caracteres");
                $("#descriptionProduct").focus();
                return;
            }

            $("#modal-update-product").modal('hide');
            
            var formData = new FormData();

            formData.append("id", productId);
            formData.append("nameProduct", nameProduct);
            formData.append("DescriptionProduct", descriptionProduct);

            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Products")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#ListProducts").slideUp('slow');
                    var products = '@Url.Action("ListProducts", "Products")';
                    $("#ListProducts").load(products);

                    if (response.Ok == false) {
                        dataSend(null, response.Message);
                    } else {
                        dataSend(false, response.Message);
                    }
                    $("#ListProducts").slideDown('slow');
                    $("#formProduct").slideUp('slow');
                },
                error: function (response) {
                    console.log("ERROR: " + response.Message);
                }
            });
        });
    </script>

    @*Inactivate product*@
    <script>
        var item_to_inactivate;
        var nameInactivate;

        $('body').on("click", ".deactivateItem", function () {
            item_to_inactivate = $(this).data('id');
            nameInactivate = $(this).data('name');
            $('#nameInactivate').text(nameInactivate);
        });
        $('.btnContinueInactivate').click(function () {            
            changeStateProduct(item_to_inactivate);
            $('#InactiveProduct').modal('hide');
        });
    </script>

    @*Activate product*@
    <script>
        var item_to_activate;
        var nameactivate;

        $('body').on("click", ".activateItem", function () {
            item_to_activate = $(this).data('id');
            nameactivate = $(this).data('name');
            $('#nameactivate').text(nameactivate);
        });
        $('.btnContinueActivate').click(function () {            
            changeStateProduct(item_to_activate);
            $('#ActiveProduct').modal('hide');
        });
    </script>

    @*changeStateProduct*@
    <script>
        function changeStateProduct(value) {
            var formData = new FormData();
            formData.append("id", value);
            $.ajax({
                type: "POST",
                url: '@Url.Action("StateProduct", "Products")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#ListProducts").slideUp('slow');
                    var products = '@Url.Action("ListProducts", "Products")';
                    $("#ListProducts").load(products);

                    if (response.Ok == false) {
                        dataSend(null, response.Message);
                    } else {
                        dataSend(false, response.Message);
                    }
                    $("#ListProducts").slideDown('slow');
                    $("#formProduct").slideUp('slow');
                },
                error: function (response) {
                    console.log("ERROR: " + response.Message);
                }
            });
        }
    </script>
}
